{% extends 'listings/base.html' %}

{% block content %}
  <div class="listing">
    <div class="panel panel-warning">
      <div class="panel-heading">
        {{ listing.type }} - {{ listing.title }}
        <a class="btn btn-default" href="{% url 'listing_edit' pk=listing.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default confirm-delete" href="{% url 'listing_remove' pk=listing.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
      <div class="panel-body">
        <p>{{ listing.description }}</p>
        <p>{{ listing.pickup_location }}</p>
        <p>{{ listing.pickup_time }}</p>
      </div>
    </div>
  </div>
{% endblock %}
